[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
newspaper4k = "*"
playwright = "*"
jinja2 = "*"
feedparser = "*"

[dev-packages]

[requires]
python_version = "3.13"
